<div class='custom-bg2 text-light d-flex justify-content-between rounded col-12 col-md-6 center mb-5 shadow-sm bg-white'>
  <h1 class="center my-3">Edit <%= resource_name.to_s.humanize %></h1>
</div>

<div class='custom-bg3 rounded text-light font-weight-bold'>  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true%>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "Enter your Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions ">
      <%= f.submit "Update", :class => 'btn btn-primary btn-lg'%>
    </div>
  <% end %>

  <h3 class="center my-3">Cancel my account</h3>

  <p class="center my-3">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'actions btn btn-primary btn-lg' %></p>
  
</div>

<%= link_to "Back", :back, :class => 'text-dark' %>
