 <div class="center">
    <div class='custom-bg2 d-flex justify-content-around rounded col-12 col-md-6 center mb-3 shadow-sm text-light'>
      <h4 class ="mt-4 text-light font-weight-bold"><%= "Group Name: #{@group.name}" %></h4>
      <img src="<%=@group.icon%>" class="icon mb-2" alt="">
    </div>

    <p class="center mt-1"><%= link_to "Edit group details", edit_group_path(@group), :class => 'col-12 col-md-6 actions btn btn-primary btn-lg' %></p>
    
    <ul>
      <% @group.transactions.each do |t|%>
        <div class='custom-bg d-flex flex-column col-12 col-md-5 rounded center mb-5 shadow-sm bg-white'>
          <div class = "d-flex justify-content-between">
            <p class ="mt-3"><%= t.name %><p>
            <p class ="mt-3">$<%= t.amount %></p>   
          </div>    
          <div class = "d-flex justify-content-between">          
            <p class =''>Creator: <%=t.author.name %><p>
            <p><small class="text-muted"><%=t.created_at.strftime("%b %d, %Y")%></small></p>
          </div>
        </div>  
      <%end%> 
    </ul>
 </div>
 <%= link_to "Back", :back, :class => 'text-dark' %>
 