<div class='center jumbotron shadow'>
  <article>
  <h3>All Transactions With Group:</h3>
  <ul >
    <% @t1.each do |t| %>
    <li>
      <%= t.name %>
       <%= t.amount %>
    </li>
  <% end %>
  </ul>
</article>
</div>

<div class='center jumbotron shadow'>
  <article>
  <h3>All Transactions With-out Group:</h3>
  <ul >
    <% @t2.each do |t| %>
    <li>
      <%= t.name %>
      <%= t.amount %>
    </li>
  <% end %>
  </ul>
</article>
</div>

<div class='action'>
  <%= link_to 'Add new transaction', new_transaction_path, :class => 'btn btn-primary btn-lg' %> 
</div>


