<div class='custom-bg2 text-light d-flex justify-content-between rounded col-12 col-md-6 center mb-5 shadow-sm bg-white'>
  <h1 class="center my-3">New Transaction</h1>
</div>
 
  <div class="bg-danger text-light mt-1 center rounded"> 
      <% if @transaction.errors.any? %>
        <% @transaction.errors.full_messages.each do |error| %>
          <%= error %>
        <% end %>
      <% end %>  
  </div>   

  <div class='custom-bg3 rounded text-light font-weight-bold'>
    <div class="pb-4">
      <%=form_for @transaction do |f|%>     
        <div class="field">
          <%=f.label :name%>
          <%=f.text_field :name%>
        </div>

        <div class="field">
          <%=f.label :amount%>
          <%=f.number_field :amount%>
        </div>
        
        <div class="field">
          <%=f.label :select_group%>    
          <%=select("transaction", "group_id", Group.all.collect {|g|[g.name, g.id] }, { include_blank: true })%>
        </div>

        <div class="actions">
          <%=f.submit "Create", :class => 'btn btn-primary btn-lg'%>
        </div>
      <%end%> 
    </div>
  </div>

  <%= link_to "Back", :back, :class => 'text-dark' %>
